<article class="article">
  <div class="title_wrapper">
    <h2 class="title">
      <span class="text">Как выбрать систему видеонаблюдения для дачи</span>
    </h2>
  </div>
  <div class="article_content">
    <p>
      Учитывая тот факт, что дача не используется для постоянного проживания, подбор и приобретение
      системы видеонаблюдения является очень важной задачей для каждого владельца загородного дома.
    </p>
    <img src="assets/img/news/Screenshot_1.jpg" alt="" />

    <h3 class="article_title" (click)="show = !show">
      Как выбрать систему видеонаблюдения для дачи ...
    </h3>

    <div *ngIf="show">
      <p>
        Учитывая тот факт, что дача не используется для постоянного проживания, подбор и
        приобретение системы видеонаблюдения является очень важной задачей для каждого владельца
        загородного дома. Чаще всего подбирается тот вариант, который обеспечивает возможность
        просматривать записи по приезде человека на дачу. Безусловно, таким образом не удается
        отреагировать на ситуацию в срочном порядке, однако неправомерные действия людей будут
        зафиксированы с помощью камеры.
      </p>
      <p>
        Существуют другие варианты систем, предполагающие возможность мгновенного реагирования на
        возникающие непредвиденные ситуации. В данном случае срочность реакции хозяина дачи будет
        зависеть исключительно от дальности расстояния до загородного объекта и возможности прибыть
        на место в любое время.
      </p>

      <h3>На что обратить внимание при выборе камер?</h3>
      <p>
        При необходимости подобрать <strong>оборудование и видеокамеры</strong> для дачи лучше всего
        отдавать предпочтение готовым решениям, которые отличаются простотой установки и
        демократичной стоимостью.
      </p>

      <p>
        <strong>Выбор систем видеонаблюдения для дачи</strong> крайне важно осуществить с учетом
        следующих характеристик:
      </p>

      <p>
        - наличие антивандального покрытия, которое делает устройство устойчивым к внешним
        повреждениям;
      </p>
      <p>- устройство, предотвращающее влияние бликов от солнца на качество изображения;</p>
      <p>- функция записи изображения в ночное время суток;</p>
      <p>
        - наличие необходимого угла обзора камеры и поворотов (в зависимости от поставленной задачи
        и площади, которую необходимо охватить при наблюдении).
      </p>
      <p>
        Кроме того, при покупке таких устройств следует выбрать качество изображения, которое будет
        доступно для просмотра. За это отвечает параметр разрешения (аналоговые либо цифровые модели
        камер).
      </p>

      <p>
        <strong>Продажа камер видеонаблюдения в Минске</strong> – основное направление деятельности
        нашей компании. У нас представлены различные модели систем, которые будут соответствовать
        потребностям всех категорий клиентов.
      </p>

      <button class="button" (click)="show = !show">скрыть</button>
    </div>
  </div>
</article>
