<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">тех.поддержка</span>
    </h2>
  </div>

  <div class="box">
    <ul class="list_options">
      <li>
        <a href="">
          <svg class="svg__settings svg">
            <use xlink:href="assets/svg/sprite.svg#svg__settings"></use>
          </svg>
          <p>Инструкция по настройке</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__download svg">
            <use xlink:href="assets/svg/sprite.svg#svg__download"></use>
          </svg>
          <p>Прошивки и ПО скачать с FTP</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__wrench svg">
            <use xlink:href="assets/svg/sprite.svg#svg__wrench"></use>
          </svg>
          <p>Гарантия и ремонт</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__letter svg">
            <use xlink:href="assets/svg/sprite.svg#svg__letter"></use>
          </svg>
          <p>Контакты техподдержки</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__shield svg">
            <use xlink:href="assets/svg/sprite.svg#svg__shield"></use>
          </svg>
          <p>Декларация о соответствии</p>
        </a>
      </li>
    </ul>

    <ul class="list_aside">
      <li>
        <a href="">
          <svg class="svg__calculator svg">
            <use xlink:href="assets/svg/sprite.svg#svg__calculator"></use>
          </svg>
          <p>Калькуляторы</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__download svg">
            <use xlink:href="assets/svg/sprite.svg#svg__download"></use>
          </svg>
          <p>Скачать каталог продукции</p>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="svg__download svg">
            <use xlink:href="assets/svg/sprite.svg#svg__download"></use>
          </svg>
          <p>Скачать прайс-лист</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">Гарантия и ремонт</span>
    </h2>
  </div>

  <!-- <div class="guaranty"> -->
  <div class="box_guaranty">
    <h3>Отправка в ремонт</h3>

    <p>
      Отправка оборудования в ремонт (в том числе гарантийный) осуществляется за счет Клиента.
      Ответственность за доставку оборудования в Сервисный центр Optimus несет отправитель.
    </p>
    <p>
      Обязательно заполнить и вложить Акт передачи оборудования в ремонт.
    </p>
    <p>
      Оборудование принимается в чистом виде с указанием:
    </p>
    <p>
      - дефектов и условий их проявления;
    </p>
    <p>
      - комплектность оборудования;
    </p>
    <p>
      - контактное лицо с номером контактного телефона.
    </p>

    <p>
      При отсутствии информации о дефектах Технический Центр вправе отказать в обслуживании
      оборудования. Также не гарантируется ремонт неисправностей не указанных в акте.
    </p>
    <p>
      Отправка оборудования возможна как через дилера, у которого было приобретено оборудование, так
      и самостоятельно, с помощью ТК.
    </p>

    <h3>Дополнительно:</h3>

    <p>
      Гарантия на все оборудование Optimus 37 месяцев
    </p>
    <p>
      Руководства пользователя находятся в карточках товаров на вкладке Файлы оборудования в
      каталоге сайта
    </p>
    <p>
      Отправка оборудования в ремонт (в том числе гарантийный) осуществляется за счет Клиента.
      Ответственность за доставку оборудования в Сервисный центр Optimus несет отправитель.
    </p>
    <p>
      По вопросам ремонта (качества, проделанного ремонта) и гарантийного обслуживания обратитесь в
      сервисный центр:
    </p>

    <h3>На территории Республики Беларусь:</h3>

    <strong>ЧП “МобиЛАБ СЦ”, г. Минск</strong>
    <p>Почта: info@mobilab.by</p>
    <p>Сайт: www.mobilab.by</p>

    <strong>
      <p>
        Центр обслуживания юридических лиц и ИП(торгующие организации) Телефон:
      </p>
      <p>
        +375 (17) 362 76 84 (гор.)
      </p>
      +375 (33) 333 23 23 (МТС)
      <p>
        +375 (44) 7 751 751 (Velcom)
      </p>
      <p>
        Адрес: Минский район Новодворский с/с 33/1-8, район д. Большое Стиклево
      </p>
      <p>
        Время работы с 9 до 18.30 по московскому времени в рабочие дни
      </p>
      <p>
        Центр обслуживания физических лиц(потребители)
      </p>
      <p>
        Телефон:
      </p>
      <p>
        +375 (29) 272 22 21 (МТС)
      </p>
      <p>
        +375 (29) 136 66 69 (Velcom)
      </p>
      <p>
        Адрес: пр. Независимости, д. 46 Б, пом. 1-Н
      </p>
      <p>
        Время работы с 10 до 19 по московскому времени в рабочие дни
      </p>
    </strong>
  </div>
</section>
