<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">КОНТАКТЫ</span>
    </h2>
  </div>

  <ul class="container__contacts contacts">
    <li class="contacts__item item">
      <a class="item__svg_box" href="tel:+375 17 241-08-08">
        <svg class="svg__phone svg">
          <use xlink:href="assets/svg/sprite.svg#svg__phone"></use>
        </svg>
      </a>
      <ul>
        <li><a href="tel:+375 17 241-08-08">+375 17 241-08-08</a></li>
        <li><a href="tel:+375 17 337-08-08">+375 17 337-08-08</a></li>
      </ul>
    </li>

    <li class="contacts__item item">
      <a class="item__svg_box" href="tel:+375 29 337-30-30">
        <svg class="svg__skype_logo svg">
          <use xlink:href="assets/svg/sprite.svg#svg__mobile"></use>
        </svg>
      </a>
      <ul>
        <li><a href="tel:+375 29 337-30-30">+375 29 337-30-30</a></li>
        <li><a href="tel:+375 29 737-20-23">+375 29 737-20-23</a></li>
      </ul>
    </li>

    <li class="contacts__item item">
      <a class="item__svg_box" href="mailto:info@nabludenie.by">
        <svg class="svg__letter svg">
          <use xlink:href="assets/svg/sprite.svg#svg__letter"></use>
        </svg>
        <span>info@nabludenie.by</span>
      </a>
    </li>

    <li class="contacts__item item">
      <a class="item__svg_box" href="skype:mihail.dam?chat">
        <svg class="svg__skype_logo svg">
          <use xlink:href="assets/svg/sprite.svg#svg__skype_logo"></use>
        </svg>
        <span>mihail.dam</span>
      </a>
    </li>

    <li class="contacts__item item">
      <a class="item__svg_box">
        <svg class="svg__location_pin svg">
          <use xlink:href="assets/svg/sprite.svg#svg__location_pin"></use>
        </svg>
        <span>ул. Бирюзова 4, 3-й этаж</span>
      </a>
    </li>
  </ul>
</section>
