<header class="header">
  <h1 hidden>ДМД Cистемс</h1>
  <div class="header__container__top">
    <div class="header__telephones telephones">
      <svg class="svg__headsets_with_microphone svg">
        <use xlink:href="#svg__headsets_with_microphone"></use>
      </svg>

      <ul class="telephones__list">
        <li>
          <a class="telephones__link" href="tel:+375293373030">+375 29 337-30-30</a>
        </li>
        <li>
          <a class="telephones__link" href="tel:+375297372023">+375 29 737-20-23</a>
        </li>
        <li>
          <a class="telephones__link" href="tel:+375172410808">+375 17 241-08-08</a>
        </li>
      </ul>
    </div>

    <div class="header__logo">
      <a [routerLink]="['/']">
        <img src="../../../assets/img/dmd-logo.png" alt="" />
      </a>
    </div>

    <div class="header__address address">
      <ul class="address__list">
        <li>
          <a class="address__link" href="skype:mihail.dam?chat" class="address__link">
            <svg class="svg__skype_logo svg">
              <use xlink:href="#svg__skype_logo"></use>
            </svg>
            mihail.dam
          </a>
        </li>

        <li>
          <a class="address__link" href="mailto:info@nabludenie.by" class="address__link">
            <svg class="svg__letter svg">
              <use xlink:href="#svg__letter"></use>
            </svg>
            info@nabludenie.by
          </a>
        </li>

        <li>
          <a class="address__link" [routerLink]="['/contacts']" class="address__link">
            <svg class="svg__location_pin svg">
              <use xlink:href="#svg__location_pin"></use>
            </svg>
            ул.Бирюзова 4, 3-й этаж
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header__bottom_box">
    <div class="header__container__bottom">
      <nav class="header__navigation navigation">
        <ul class="navigation__list">
          <li>
            <a class="navigation__links" [routerLink]="['/']">Главная</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/catalog']">КАТАЛОГ</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/about']">О КОМПАНИИ</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/support']">КЛИЕНТЫ</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/clients']">СТАТЬИ</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/brands']">БРЕНДЫ</a>
          </li>
          <li>
            <a class="navigation__links" [routerLink]="['/contacts']">КОНТАКТЫ</a>
          </li>
        </ul>
      </nav>

      <button class="button header__button__price">прайс</button>

      <form class="header__form form">
        <input class="form__input" type="search" placeholder="Поиск продукции" />
        <button class="form__button button">
          <svg class="svg__magnifying_search_lenses_tool svg">
            <use xlink:href="#svg__magnifying_search_lenses_tool"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
