@import '../../core/scss/variables';
@import '../../core/scss/buttons';

:host {
  display: block;
}

.svg {
  fill: $color__red;
  width: 22px;
  height: 22px;
  transition: 0.6s;
}

.telephones__link,
.address__link {
  color: $color__gray;
  font-family: $font__arial;
  font-size: 14px;
  line-height: 18px;
}

.header {
  padding-top: 10px;
  border-top: 4px solid $color__red;
}

.header__container__top {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;

  max-width: 1200px;
  width: 100%;
}

.header__container__top {
  height: 100px;
}

.header__telephones {
  display: grid;
  align-items: end;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, auto);
}

.telephones__link__svg {
  .svg {
    width: 36px;
    height: 36px;
    transition: 0.6s;
  }

  &:hover {
    .svg {
      fill: $color__red__dark;
    }
  }
}

.header__logo {
  img {
    width: 255px;
  }
}

.header__address {
  img {
    width: 22px;
    height: 22px;
  }
}

.address__link {
  display: grid;
  align-items: center;
  grid-column-gap: 5px;
  margin: 3px 0;
  grid-template-columns: repeat(2, min-content);
  &:hover {
    .svg {
      fill: $color__red__dark;
    }
  }
}

.header__bottom_box {
  padding: 10px 0;
  min-height: 50px;

  box-shadow: 0px -3px 7px -2px rgba(40, 53, 55, 0.3);
}

.header__container__bottom {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.header__navigation {
}

.navigation__list {
  display: flex;
  text-transform: uppercase;
}

.navigation__links {
  font-family: $font__arial;
  font-size: 13px;
  font-weight: 600;
  padding: 13px 10px;
}

.header__button__price {
  margin: 0 10px;
  border: 1px dashed;
  text-transform: uppercase;
  color: $color__red;
  background: $color__white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  transition: 0.6s;
  outline: none;

  &:hover {
    margin: 1px 1px 1px 11px;
    border: 1px dashed $color__white;
    color: $color__white;
    font-size: 18px;
    border-radius: 10px;
    background: $color__red;
  }
}

.header__form {
  margin-left: auto;
}

.form__input {
  height: 35px;
  padding: 8px 15px;
  color: $color__gray__darkest;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid $color__gray__lighten;
  border-radius: 0;
  box-shadow: none;
}

.form__input::-webkit-input-placeholder {
  font-style: italic;
}

.header__form {
  display: flex;
}

.form__button {
  width: 35px;
  height: 35px;
  font-size: 0;

  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color__red;
  border: none;

  .svg {
    fill: $color__white;
    transition: 0.6s;
  }

  &:hover {
    background-size: 24px;
    background-color: $color__gray__darkest;
    .svg {
      fill: $color__red;
    }
  }
}
