<section class="section">
  <div class="title-bg">
    <h2 class="title">
      <span class="title__text">Системы охраны и безопасности</span>
    </h2>
  </div>

  <div class="section__content">
    <div class="content__description"></div>

    <ul class="content__list">
      <li class="item">
        <h3 class="item__title">Большой ассортимент</h3>
        <div class="item__svg">
          <svg class="svg__warehouse svg">
            <use xlink:href="assets/svg/sprite.svg#svg__warehouse"></use>
          </svg>
        </div>
        <p class="item__text">
          Постоянное наличие широкого ассортимента на складе, а также своевременную поставку под
          заказ.
        </p>
      </li>

      <li class="item">
        <h3 class="item__title">Техническая поддержка</h3>
        <div class="item__svg">
          <svg class="svg__support svg">
            <use xlink:href="assets/svg/sprite.svg#svg__support"></use>
          </svg>
        </div>
        <p class="item__text">
          Оптимальные решения по созданию систем охраны на объекте любой сложности.
        </p>
      </li>

      <li class="item">
        <h3 class="item__title">Консультации</h3>
        <div class="item__svg">
          <svg class="svg__consultation svg">
            <use xlink:href="assets/svg/sprite.svg#svg__consultation"></use>
          </svg>
        </div>
        <p class="item__text">
          Индивидуальный подход и детальную проработку каждого технического задания и проекта.
        </p>
      </li>

      <li class="item">
        <h3 class="item__title">Гарантия и сервис</h3>
        <div class="item__svg">
          <svg class="svg__warranty svg">
            <use xlink:href="assets/svg/sprite.svg#svg__warranty"></use>
          </svg>
        </div>
        <p class="item__text">
          Сервисное и гарантийное обслуживание оборудования для охранных систем.
        </p>
      </li>
    </ul>
  </div>
</section>
