<article class="article">
  <div class="title_wrapper">
    <h2 class="title">
      <span class="text">Как правильно выбрать IP камеры</span>
    </h2>
  </div>
  <div class="article_content">
    <p>
      IP-видеокамера представляет собой устройство, в котором успешно соединяются функции камеры и
      достижения программного обеспечения.
    </p>
    <img src="assets/img/news/ip-video-1.jpg" alt="" />

    <h3 class="article_title" (click)="show = !show">Как правильно выбрать IP камеры ...</h3>

    <div *ngIf="show">
      <p>
        IP-видеокамера представляет собой устройство, в котором успешно соединяются функции камеры и
        достижения программного обеспечения. Другими словами, это соединение видеокамеры и
        компьютера. В данных устройствах поток видео передается к пользователю с помощью
        IP-протокола в цифровом формате. Так как в этом процессе применяется сеть Ethernet, каждой
        камере присваивается адрес. Главное преимущество устройств данного типа – высокое качество
        изображения, которое передается на монитор.
      </p>
      <p>
        На сегодняшний день производители устройств для видеонаблюдения предлагают потребителям
        большое разнообразие камер, разобраться в особенностях которых под силу не каждому человеку.
        С учетом широкого ассортимента продукции следует выделить основные параметры, на которые
        нужно ориентироваться в процессе покупок.
      </p>
      <h3>Что следует учесть при покупке камеры?</h3>
      <p>
        <strong>Покупка IP-камер видеонаблюдения в Минске</strong> должна осуществляться с учетом
        следующих параметров:
      </p>
      <p>
        Участок, на котором планируется установить камеру (внутренне или наружное расположение
        устройств – от этого зависит необходимость защиты от механических и климатических
        повреждений). Качество изображения, которое передается на монитор пользователя. Зависит от
        задачи, на которую нацелено устанавливаемое устройство. Необходимость расширения
        существующей системы наблюдения.
      </p>
      <p>
        Также <strong>приобретение</strong> камер необходимо планировать с учетом формата
        изображения. Это должны быть наиболее распространенные форматы, которые можно распознать с
        помощью стандартного программного обеспечения. Не лишней будет проверка безопасности камеры
        на несанкционированное вмешательство посторонних личностей.
      </p>
      <p>
        <strong>Организация IP-системы видеонаблюдения</strong> возможна с использованием продукции
        нашей компании. У нас представлены только проверенные устройства известных брендов.
      </p>
      <button class="button" (click)="show = !show">скрыть</button>
    </div>
  </div>
</article>
