// @import 'colors';

a,
button,
.button {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  text-decoration: none;
  outline: none;

  color: $color__gray__dark;

  transition: 0.2s;

  &:hover {
    color: $color__red;
  }
}

input {
  outline: none;
}
