$palette__color--01: #ff4800;
$palette__color--02: #494940;
$palette__color--03: #7f7d74;
$palette__color--04: #fff;
$palette__color--05: #a4a4a4;
$palette__color--06: #e0e0e0;

$button__color: $palette__color--02;
$button__color_second: $palette__color--03;
$button__color--hover: $palette__color--01;

$border__color--n1: $palette__color--01;
