@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

$font_family__pt_sans: 'PT Sans', 'sans-serif';
$font_family__oswald: 'Oswald', 'Arial', 'sans-serif';
$font_family__gudea: 'Gudea', 'Arial', 'sans-serif';