<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">Каталог</span>
    </h2>
  </div>
  <ul class="catalog_list">
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/cat1.png" alt="" />
        <p>Системы видеонаблюдения</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/domofon.png" alt="" />
        <p>Контроль и управление доступом</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/videodomofon-monitor.png" alt="" />
        <p>Видеодомофоны</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/cat4.png" alt="" />
        <p>Сетевое оборудование</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/cat5.png" alt="" />

        <p>Источники питания</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/logo.png" alt="" />
        <p>Умный дом</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/gsm_signal_kateg.png" alt="" />
        <p>GSM сигнализация</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/rkit.png" alt="" />
        <p>Устройства радиоуправления</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/catalog/photo.png" alt="" />
        <p>Аксессуары и материалы</p>
      </a>
    </li>
  </ul>
</section>
