<section class="about-company">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="title__text">О Компании</span>
    </h2>
  </div>

  <div class="about-company__content">
    <div class="content__description">
      <p>
        ООО "ДМД системя" динамично развивающаяся компания. Мы рады предложить Вам широкий спектр
        охранных систем, а так же весь необходимый перечень услуг. Позвонив нам Вы получите
        профессиональную консультацию, индивидуальный подход и гибкую систему скидок.
      </p>

      <h3>Покупка системы видеонаблюдения в Минске</h3>

      <p>
        Чтобы купить видеонаблюдение в Минске, горожане обращаются к представителям компании ООО
        «ДМД системс». Данная организация продает и обслуживает электронные системы безопасности.
        Компания ООО «ДМД системс» пользуется большим уважением столичных жителей. Благодаря работе
        этой организации, у людей появился шанс защитить имущество от злоумышленников.
      </p>

      <h3>
        Особенности систем видеонаблюдения
      </h3>

      <p>
        Современные устройства для видеонаблюдения применяются во всех сферах деятельности. Камеры
        устанавливаются на автомобильных стоянках и дачных участках. Это помогает экономить денежные
        средства. Владельцы супермаркетов уменьшают количество сотрудников после покупки охранного
        оборудования. Предпринимателям больше не придется надеяться на честность работников. Камера
        будет фиксировать происходящие на объекте события. Ни один человек, проникший на охраняемую
        территорию, не останется незамеченным. ...
      </p>

      <div *ngIf="isVisible">
        <p>
          Прежде чем купить систему видеонаблюдения, желательно проконсультироваться со
          специалистами. Работники компании ООО «ДМД системс» дадут советы и помогут подобрать
          аппаратуру. Эксперты продемонстрируют индивидуальный подход к каждому клиенту.
        </p>

        <h3>
          Сотрудничая с компанией ООО «ДМД системс», вы получите такие преимущества:
        </h3>

        <ul class="content__list">
          <li>техническая поддержка;</li>
          <li>наличие оригинальной техники;</li>
          <li>неограниченный выбор аппаратуры;</li>
          <li>гарантия и сервис.</li>
        </ul>

        <p>
          Стоимость системы видеонаблюдения зависит от модели оборудования. Клиенту предложат
          приобрести аппаратуру, созданную с использованием современных цифровых технологий.
        </p>

        <p>
          Оборудование для видеонаблюдения отличается простотой эксплуатации. Человеку не
          потребуется много времени, чтобы научиться его использовать. Каждая камера имеет
          техническую документацию, написанную на доступном языке.
        </p>

        <p>
          Работники компании ООО «ДМД системс» способны создать проект охранного комплекса для любой
          территории. При выполнении задания мастера учитывают специфику объекта. Наши менеджеры
          подберут подходящее место, чтобы расположить камеры.
        </p>

        <p>
          Видеонаблюдение под ключ удивит вас доступностью цен.
        </p>
      </div>

      <button class="content__button" (click)="isVisible = !isVisible">показать / скрыть</button>
    </div>

    <img class="content__img" src="assets/img/about-company/1.png" alt="" />
  </div>
</section>
