<section class="section">
  <div class="title-bg">
    <h2 class="title">
      <span class="text">Клиенты</span>
    </h2>
  </div>
  <ul class="catalog_list">
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/001.jpg" alt="" />
        <p>WebStudio MoonWay</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/002.jpg" alt="" />
        <p>Типография "Услуги"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/003.jpg" alt="" />
        <p>ColoritPak</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/004.jpg" alt="" />
        <p>Mercedes-Benz</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/005.jpg" alt="" />
        <p>Natusana</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/006.jpg" alt="" />
        <p>ТЦ "На Голодеда"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/007.jpg" alt="" />
        <p>КонструктивСтрой</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/008.jpg" alt="" />
        <p>Отель "Минск"</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/009.jpg" alt="" />
        <p>Natusana</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/010.jpg" alt="" />
        <p>ТЦ "На Голодеда"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/011.jpg" alt="" />
        <p>КонструктивСтрой</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/012.jpg" alt="" />
        <p>Отель "Минск"</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/013.jpg" alt="" />
        <p>Атлас Техно</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/014.jpg" alt="" />
        <p>ЖСПК №832</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/015.jpg" alt="" />
        <p>ЖКХ Витебской обсласти</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/016.jpg" alt="" />
        <p>ЖСПК №648</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/017.jpg" alt="" />
        <p>Завод виноградных вин</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/018.jpg" alt="" />
        <p>Отдел образования</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/019.jpg" alt="" />
        <p>Туристический портал</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/020.jpg" alt="" />
        <p>ООО "ВиваСтрой"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/021.jpg" alt="" />
        <p>ЖСПК "Озерцо"</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/022.jpg" alt="" />
        <p>"БелТамо"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/023.jpg" alt="" />
        <p>Профессиональный текстиль</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/024.jpg" alt="" />
        <p>Магазин женских суомк</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/025.jpg" alt="" />
        <p>ЖСПК</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/026.jpg" alt="" />
        <p>Салон красоты</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/027.jpg" alt="" />
        <p>Витаминный завод</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/028.jpg" alt="" />
        <p>Функциональные продукты</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/029.jpg" alt="" />
        <p>Департамент Охраны</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/030.jpg" alt="" />
        <p>ТД "Элис"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/031.jpg" alt="" />
        <p>Минсктранс</p>
      </a>
    </li>

    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/032.jpg" alt="" />
        <p>ООО "БелЛПЗ"</p>
      </a>
    </li>
    <li class="item">
      <a href="" class="link">
        <img src="../../../assets/img/customers/033.jpg" alt="" />
        <p>ADANI</p>
      </a>
    </li>
  </ul>
</section>
