@import 'app/core/scss/rest';
@import 'app/core/scss/variables';
@import 'app/core/scss/buttons';

* {
  box-sizing: border-box;
}

body {
  font-family: $font__pt_sans;
}

h2 {
  font-family: font__oswald;
}

.svg {
  width: 36px;
  height: 36px;
}
