<p>
  page-catalog works!
</p>

<p>
  svg-sprite works!
</p>

<a class="team__icon" href="">
  <svg class="social__icon icon-1">
    <use xlink:href="#svg__twitter"></use>
  </svg>
</a>

<a class="team__icon" href="">
  <svg class="social__icon icon-2">
    <use xlink:href="#svg__twitter"></use>
  </svg>
</a>

<a class="team__icon" href="">
  <svg class="social__icon icon-3">
    <use xlink:href="#svg__twitter"></use>
  </svg>
</a>

<a class="team__icon" href="">
  <svg class="social__icon icon-4">
    <use xlink:href="#svg__twitter"></use>
  </svg>
</a>

<a class="team__icon" href="">
  <svg class="social__icon icon-5">
    <use xlink:href="#svg__twitter"></use>
  </svg>
</a>
