<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">ЗАДАЙТЕ ВОПРОСЫ</span>
    </h2>
  </div>

  <form [formGroup]="formQuestion" class="form">
    <div class="form__item item item--fieldset">
      <label class="form__label label">
        <svg class="label__svg svg__user svg">
          <use xlink:href="assets/svg/sprite.svg#svg__user"></use>
        </svg>
        <span class="label__text">Имя</span>
      </label>
      <input
        class="form__input input"
        type="text"
        formControlName="formName"
        placeholder="Имя *"
        required
      />

      <label class="form__label label">
        <svg class="label__svg svg__letter svg">
          <use xlink:href="assets/svg/sprite.svg#svg__letter"></use>
        </svg>
        <span class="label__text">Email</span>
      </label>
      <input
        class="form__input input"
        type="email"
        formControlName="formEmail"
        placeholder="Email *"
        required
      />

      <label class="form__label label">
        <svg class="label__svg svg__newspaper svg">
          <use xlink:href="assets/svg/sprite.svg#svg__newspaper"></use>
        </svg>
        <span class="label__text">Тема</span>
      </label>
      <input
        class="form__input input"
        type="text"
        formControlName="formTopic"
        placeholder="Тема *"
        required
      />
    </div>

    <div class="form__item item item--message">
      <label class="form__label label">Ваше сообщение</label>
      <textarea
        class="textarea"
        type="text"
        formControlName="formMessage"
        placeholder="Cообщение *"
        required
      ></textarea>

      <button class="button">Отправить</button>
    </div>
  </form>
</section>
