<section class="section">
  <div class="title-wrapper">
    <h2 class="title">
      <span class="text">ЗАДАЙТЕ ВОПРОСЫ</span>
    </h2>
  </div>

  <form [formGroup]="formQuestion" class="form">
    <div class="form__item item item--fieldset">
      <label>
        <svg class="svg__user svg">
          <use xlink:href="assets/svg/sprite.svg#svg__user"></use>
        </svg>
        Имя
      </label>
      <input type="text" formControlName="formName" placeholder="Имя *" required />

      <label>
        <svg class="svg__letter svg">
          <use xlink:href="assets/svg/sprite.svg#svg__letter"></use>
        </svg>
        Email
      </label>
      <input type="email" formControlName="formEmail" placeholder="Email *" required />

      <label>
        <svg class="svg__newspaper svg">
          <use xlink:href="assets/svg/sprite.svg#svg__newspaper"></use>
        </svg>
        Тема
      </label>
      <input type="text" formControlName="formTopic" placeholder="Тема *" required />
    </div>

    <div class="form__item item item--message">
      <label>Ваше сообщение</label>
      <textarea
        class="textarea"
        type="text"
        formControlName="formMessage"
        placeholder="Cообщение *"
        required
      ></textarea>

      <button class="button">Отправить</button>
    </div>
  </form>
</section>
