<section>
  <div class="title-bg">
    <h2 class="title">
      <span class="text">Наши бренды</span>
    </h2>
  </div>
  <ul>
    <li>
      <a href=""><img src="../../../assets/img/brend/dahua_kaliningrad.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/el.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/ez_ip.jpg" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/hikvision_kaliningrad.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/hiwatch-kaliningrad.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/logo-CTV.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/optimus.png" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="../../../assets/img/brend/tantos.png" alt=""/></a>
    </li>
  </ul>
</section>
