<section>
  <div class="title-bg">
    <h2 class="title">
      <span class="text">Наши бренды</span>
    </h2>
  </div>
  <ul>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
    <li>
      <a href=""><img src="" alt=""/></a>
    </li>
  </ul>
</section>
