<footer class="footer">
  <div class="footer__top_line"></div>

  <section class="footer__container container">
    <ul class="container__contacts contacts">
      <li class="contacts__item item">
        <a class="item__svg_box" href="tel:+375 17 241-08-08">
          <svg class="svg__phone svg">
            <use xlink:href="assets/svg/sprite.svg#svg__phone"></use>
          </svg>
        </a>
        <ul>
          <li><a href="tel:+375 17 241-08-08">+375 17 241-08-08</a></li>
          <li><a href="tel:+375 17 337-08-08">+375 17 337-08-08</a></li>
        </ul>
      </li>

      <li class="contacts__item item">
        <a class="item__svg_box" href="tel:+375 29 337-30-30">
          <svg class="svg__skype_logo svg">
            <use xlink:href="assets/svg/sprite.svg#svg__mobile"></use>
          </svg>
        </a>
        <ul>
          <li><a href="tel:+375 29 337-30-30">+375 29 337-30-30</a></li>
          <li><a href="tel:+375 29 737-20-23">+375 29 737-20-23</a></li>
        </ul>
      </li>

      <li class="contacts__item item">
        <a class="item__svg_box" href="mailto:info@nabludenie.by">
          <svg class="svg__letter svg">
            <use xlink:href="assets/svg/sprite.svg#svg__letter"></use>
          </svg>
          <span>info@nabludenie.by</span>
        </a>
      </li>

      <li class="contacts__item item">
        <a class="item__svg_box" href="skype:mihail.dam?chat">
          <svg class="svg__skype_logo svg">
            <use xlink:href="assets/svg/sprite.svg#svg__skype_logo"></use>
          </svg>
          <span>mihail.dam</span>
        </a>
      </li>

      <li class="contacts__item item">
        <a class="item__svg_box" [routerLink]="['/contacts']">
          <svg class="svg__location_pin svg">
            <use xlink:href="assets/svg/sprite.svg#svg__location_pin"></use>
          </svg>
          <span>ул. Бирюзова 4, 3-й этаж</span>
        </a>
      </li>
    </ul>

    <ul class="container__catalog_list">
      <li><a [routerLink]="['/catalog']">IP-камеры</a></li>
      <li><a [routerLink]="['/catalog']">AHD камеры</a></li>
      <li><a [routerLink]="['/catalog']">Видеодомофоны</a></li>
      <li><a [routerLink]="['/catalog']">Удлинители</a></li>
      <li><a [routerLink]="['/catalog']">Умный дом</a></li>
      <li><a [routerLink]="['/catalog']">Блоки питания</a></li>
      <li><a [routerLink]="['/catalog']">Аксессуары СКУД</a></li>
      <li><a [routerLink]="['/catalog']">GSM сигнализация</a></li>
      <li><a [routerLink]="['/catalog']">РоЕ коммутаторы</a></li>
      <li><a [routerLink]="['/catalog']">IP-Видеорегистраторы</a></li>
      <li><a [routerLink]="['/catalog']">AHD видеорегистраторы</a></li>
      <li><a [routerLink]="['/catalog']">Замки, защелки, доводчики</a></li>
      <li><a [routerLink]="['/catalog']">Инжекторы и сплиттеры</a></li>
      <li><a [routerLink]="['/catalog']">Аксессуары и материалы</a></li>
      <li><a [routerLink]="['/catalog']">Устройства радиоуправления</a></li>
      <li><a [routerLink]="['/catalog']">Бренды</a></li>
    </ul>
  </section>

  <section class="footer__bottom bottom">
    <div class="bottom__wrapper">
      <p class="bottom__text">© 2013- 2020. Все права - free.</p>
      <p class="bottom__text">Разработка сайта-каталога – обычный курсовой или дипломный проект</p>
    </div>
  </section>
</footer>
