<footer>
  <div class="footer-top-line"></div>
  <section class="cont_container">
    <ul>
      <li>
        <a href="tel:+375 17 241-08-08">
          <svg class="svg img">
            <use xlink:href="#svg__skype_logo"></use>
          </svg>
        </a>
      </li>
      <li><a href="tel:+375 17 241-08-08">+375 17 241-08-08</a></li>
      <li><a href="tel:+375 17 337-08-08">+375 17 337-08-08</a></li>

      <li>
        <a href="tel:+375 29 337-30-30">
          <img class="img" src="../../../assets/svg/skype-logo.svg" alt="" />
        </a>
      </li>
      <li><a href="tel:+375 29 337-30-30">+375 29 337-30-30</a></li>
      <li><a href="tel:+375 29 737-20-23">+375 29 737-20-23</a></li>

      <li>
        <a href="mailto:info@nabludenie.by">
          <img class="img" src="../../../assets/svg/skype-logo.svg" alt="" />
          info@nabludenie.by
        </a>
      </li>

      <li>
        <a href="skype:mihail.dam?chat">
          <img class="img" src="../../../assets/svg/skype-logo.svg" alt="" />
          mihail.dam
        </a>
      </li>

      <li>
        <a [routerLink]="['/contacts']">
          <img class="img" src="../../../assets/svg/skype-logo.svg" alt="" />
          ул. Бирюзова 4, 3-й этаж
        </a>
      </li>
    </ul>

    <ul>
      <li><a [routerLink]="['/catalog']">IP-камеры</a></li>
      <li><a [routerLink]="['/catalog']">AHD камеры</a></li>
      <li><a [routerLink]="['/catalog']">Видеодомофоны</a></li>
      <li><a [routerLink]="['/catalog']">Удлинители</a></li>
      <li><a [routerLink]="['/catalog']">Умный дом</a></li>
      <li><a [routerLink]="['/catalog']">Блоки питания</a></li>
      <li><a [routerLink]="['/catalog']">Аксессуары СКУД</a></li>
      <li><a [routerLink]="['/catalog']">GSM сигнализация</a></li>
      <li><a [routerLink]="['/catalog']">РоЕ коммутаторы</a></li>
      <li><a [routerLink]="['/catalog']">IP-Видеорегистраторы</a></li>
      <li><a [routerLink]="['/catalog']">AHD видеорегистраторы</a></li>
      <li><a [routerLink]="['/catalog']">Замки, защелки, доводчики</a></li>
      <li><a [routerLink]="['/catalog']">Инжекторы и сплиттеры</a></li>
      <li><a [routerLink]="['/catalog']">Аксессуары и материалы</a></li>
      <li><a [routerLink]="['/catalog']">Устройства радиоуправления</a></li>
      <li><a [routerLink]="['/catalog']">Бренды</a></li>
    </ul>
  </section>

  <section class="footer-bottom"></section>
</footer>
